
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
  padding: 4rem;
  background:#1c1d21;
  position: relative;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  gap: 2rem;
}

.contact-text {
  z-index: 1;
  position: relative;
}

.contact-text h1 {
  font-size: 4rem;
  color: #A288A6;
  margin-bottom: 1rem;
}

.contact-text p {
  font-size: 1.2rem;
  color: #444;
  max-width: 400px;
}

.divider-line {
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  width: 1px;
  background-color: #A288A6;
  z-index: 0;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  z-index: 1;
  position: relative;
  color:#A288A6;
  font-size:3rem;
}

.contact-icons a {
  color: #A288A6;
  cursor: pointer;
}

@media (max-width: 768px) {

  .contact-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding:.5rem;
    gap:.5rem;
  }

  .divider-line {
    position: absolute;
    left: 10%;
    top: 75%;
    bottom: 50%;
    width: 80%;
    height:1px;
    background-color: #A288A6;
    z-index: 0;
  }
  

  .contact-text {
    padding: 0;
  }

  .contact-icons .icons {
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  color: #A288A6;
  animation: float 4s ease-in-out infinite;
    
  }
.contact-icons{
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  gap:0;
    
  }
  .contact-icons>div{
    padding:1rem;
  }
}